body {
  margin: 0;
  font-family: sans-serif;
}

header {
  height: 40px;
  background: #eee;
}

header h1 {
  margin: 0;
  padding: 5px;
}

.cue-list {
  list-style: none;
  padding: 0 10px;
}

.cue {
  border: solid 1px #555;
  margin: 10px 0;
}
